<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.fox.one.support.framework">
    <application>
        <activity
                android:name=".scheme.SchemeActivity"
                android:exported="true"
                android:launchMode="singleTask"
                android:theme="@style/TransparentActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="${SCHEME}" />
            </intent-filter>
        </activity>
    </application>
</manifest>
